altair
asttokens
attrs 
beautifulsoup4              
blinker                     
branca                      
cachetools                  
Cartopy                     
certifi                     
charset-normalizer          
click                       
cmdstanpy                   
colorama                    
comm                        
contourpy                   
cycler                      
dash                        
dash-bootstrap-components   
dash-core-components        
dash-html-components        
dash-table                  
debugpy                     
decorator                   
entrypoints                 
et_xmlfile                  
exceptiongroup              
executing                   
Faker                       
favicon                     
Flask                       
folium                      
fonttools                   
geographiclib               
geopy                       
gitdb                       
GitPython                   
holidays                    
htbuilder                   
idna                        
importlib_metadata          
importlib_resources         
ipykernel                   
ipython                     
itsdangerous                
jedi                        
Jinja2                      
joblib                      
jsonschema                  
jsonschema-specifications   
jupyter_client              
jupyter_core                
kiwisolver                  
lxml                        
Markdown                    
markdown-it-py              
markdownlit                 
MarkupSafe                  
matplotlib                  
matplotlib-inline           
mdurl                       
more-itertools              
narwhals                    
nest-asyncio                
numpy                       
openpyxl                    
packaging                   
pandas                      
parso                       
pillow                      
pip                         
platformdirs                
plotly                      
prometheus_client           
prompt_toolkit              
prophet                     
protobuf                    
psutil                      
pure_eval                   
pyarrow                     
pydeck                      
pygeodesic                  
Pygments                    
pymdown-extensions          
pyparsing                   
pyproj                      
pyshp                       
python-dateutil             
pytz                        
pywin32                     
PyYAML                     
pyzmq                       
referencing                 
requests                    
retrying                    
rich                        
rpds-py                     
scikit-learn                
scipy                       
setuptools                  
shapely                     
six                         
smmap                       
soupsieve                   
st-annotated-text           
st-theme                    
stack-data                  
stanio                      
streamlit                   
streamlit-camera-input-live 
streamlit-card              
streamlit-embedcode         
streamlit-extras            
streamlit-faker             
streamlit_folium            
streamlit-image-coordinates 
streamlit-keyup             
streamlit-navigation-bar    
streamlit-toggle-switch     
streamlit-vertical-slider   
tenacity                    
threadpoolctl               
toml                        
tornado                     
tqdm                        
traitlets                   
typing_extensions           
tzdata                      
urllib3                     
validators                  
watchdog                    
wcwidth                     
Werkzeug                 
xyzservices               
zipp          
pytz==2024.2